<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/dataif/login.css">
  <script src="/js/home/login.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div class="AdminLogin">
    <div class="TalkLogo">청소년 톡 Talk</div>
    <div style="font-size: 10px; font-family: Pretendard; font-weight: 400;">아래 관리자 정보를 입력 후 로그인 해주세요.</div>
    <br>
    <form action="/admin/auth/login" method="post" name="frm_login" id="frm_login">
      <input name="userid" id="userid" type="text" placeholder="아이디">
      <input name="password" id="password" type="password" placeholder="비밀번호">
      <div style="width: 100%; display: flex; justify-content: center;">
        <input type="submit" value="로그인" class="btn btn-primary" style="width: 200px;">
      </div>
    </form>
    <div class="apkDownload">
      <a href="/admin/main/filedownload?filename=talk.apk">APK 다운로드</a>
    </div>
  </div>
  
  
  <script>
    // 로그인 폼 제출 시
    document.getElementById('frm_login').addEventListener('submit', function(event) {
      event.preventDefault(); // 기본 제출 동작 방지

      // 로그인 확인을 위해 서버에 요청
      fetch('/admin/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          userid: document.getElementById('userid').value,
          password: document.getElementById('password').value
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.code === 0) {
          
          if(data.role == 3) {
            //정책관리자
            window.location.href = '/admin/policy/show';
          } else {
            // 로그인 성공 시
            window.location.href = '/admin/dataif';
          }
        } else {
          // 로그인 실패 시
          alert(data.message);
        }
      })
      .catch(error => {
        console.log('로그인 요청 에러:', error);
      });
    });
  </script>
</body>
</html>
