<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/css/home/layout.css">
  <link rel="stylesheet" href="/css/home/codeData/codeData.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>
<body>
  <%- include('../layout.ejs', { pageTitle: '업데이트' }) %>
<section>
    <div>
        <div class="pagename">페이지 준비 중</div>

    </div>
</section>
</div>
</body>
</html>